<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap/dist/css/bootstrap.css" th:href="@{/css/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/material.css" th:href="@{/css/bootstrap-material-design/dist/css/material.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/ripples.css" th:href="@{/css/bootstrap-material-design/dist/css/ripples.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/roboto.css" th:href="@{/css/bootstrap-material-design/dist/css/roboto.css}" rel="stylesheet" media="screen"/>



    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <script src="../../static/css/jquery/dist/jquery.js" th:src="@{/static/css/jquery/dist/jquery.js}"></script>
    <script src="../../static/css/bootstrap/dist/js/bootstrap.js" th:src="@{/static/css/bootstrap/dist/js/bootstrap.js}"></script>
    <script src="../../static/css/bootstrap-material-design/dist/js/material.js" th:src="@{/static/css/bootstrap-material-design/dist/js/material.js}"></script>
    <script src="../../static/css/bootstrap-material-design/dist/js/ripples.js" th:src="@{/static/css/bootstrap-material-design/dist/js/ripples.js}"></script>
    <script>
        $.material.init();
    </script>
</body>
</html>