<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap/dist/css/bootstrap.css" th:href="@{/css/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/material.css" th:href="@{/css/bootstrap-material-design/dist/css/material.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/ripples.css" th:href="@{/css/bootstrap-material-design/dist/css/ripples.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/roboto.css" th:href="@{/css/bootstrap-material-design/dist/css/roboto.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>


    <script src="../../static/css/jquery/dist/jquery.js" th:src="@{/css/jquery/dist/jquery.js}"></script>
    <script src="../../static/css/bootstrap/dist/js/bootstrap.js" th:src="@{/css/bootstrap/dist/js/bootstrap.js}"></script>
    <script src="../../static/css/bootstrap-material-design/dist/js/material.js" th:src="@{/css/bootstrap-material-design/dist/js/material.js}"></script>
    <script src="../../static/css/bootstrap-material-design/dist/js/ripples.js" th:src="@{/css/bootstrap-material-design/dist/js/ripples.js}"></script>
    <script>
        $.material.init();
    </script>
</head>
<body>

    <div th:fragment="header">
        <div class="navbar navbar-white navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" rel="home" href="#" th:href="@{/}">
                    <img style="max-width:100%; max-height: 100%;" th:src="@{/images/drone.png}"/>
                    </a>
                    <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{home}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/users}" th:text="#{users}">Users</a></li>
                        <li><a href="#" th:href="@{/repos}" th:text="#{repositories}">Repositories</a></li>
                        <li><a href="#" th:href="@{/globals}" th:text="#{global.secrets}">Global Secrets</a></li>
                    </ul>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="?language=en">En</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-sort"></span></a></li>
                        <li><a href="?language=ru">Ru</a></li>
                    </ul>

        </div>
    </div>
</div>
</body>
</html>