<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap/dist/css/bootstrap.css" th:href="@{/css/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/material.css" th:href="@{/css/bootstrap-material-design/dist/css/material.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/ripples.css" th:href="@{/css/bootstrap-material-design/dist/css/ripples.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/bootstrap-material-design/dist/css/roboto.css" th:href="@{/css/bootstrap-material-design/dist/css/roboto.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>


    <script src="../../static/css/jquery/dist/jquery.js" th:src="@{/css/jquery/dist/jquery.js}"></script>
    <script src="../../static/css/bootstrap/dist/js/bootstrap.js" th:src="@{/css/bootstrap/dist/js/bootstrap.js}"></script>
    <script src="../../static/css/bootstrap-material-design/dist/js/material.js" th:src="@{/css/bootstrap-material-design/dist/js/material.js}"></script>
    <script src="../../static/css/bootstrap-material-design/dist/js/ripples.js" th:src="@{/css/bootstrap-material-design/dist/js/ripples.js}"></script>
    <script>
        $.material.init();
    </script>
</head>
<body>

    <div th:fragment="header">
        <div class="navbar navbar-white navbar-fixed-top" role="navigation">
            <div class="container">
            <!--<div class="container-fluid">-->
                <div class="navbar-header">
                    <a class="navbar-brand" rel="home" href="#" th:href="@{/}">
                        <!--<img style="max-width:100px; margin-top: -7px;" th:src="@{//static/images/drone.png}">-->
                    <img style="max-width:100%; max-height: 100%;" th:src="@{/images/drone.png}"/>
                    </a>
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/users}">Users</a></li>
                        <li><a href="#" th:href="@{/globals}">Secrets</a></li>
                        <li><a href="#" th:href="@{/global/new}">Create Secret</a></li>
                    </ul>

                </div>
            <!--</div>-->
        </div>

        <!--<div class="jumbotron">-->
        <!--<div class="row text-center">-->
        <!--<div class="">-->
        <!--<h2>Spring Framework Guru</h2>-->

        <!--<h3>Spring Boot Web App</h3>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row text-center">-->
        <!--<img src="../../static/images/NewBannerBOOTS_2.png" width="400"-->
        <!--th:src="@{/images/NewBannerBOOTS_2.png}"/>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>