<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head lang="en">

    <title>Global Secret Manager</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container" style="text-align: center" >
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2 th:text="#{error}"></h2>
    <label>Status code:</label>
    <h3 th:text="${code}">Code</h3>
    <h3 th:text="${reason}">Code</h3>

</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>