<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Global Secret Manager</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="table-responsive" th:if="${not #lists.isEmpty(globals)}">
        <h2 th:text="#{global.secrets}">Global List</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th th:text="#{id}">Id</th>
                <th th:text="#{name}">Name</th>
                <th th:text="#{event}">Event</th>
                <th th:text="#{action}">Action</th>
            </tr>
            <tr th:each="global : ${globals}">
                <td th:text="${global.id}"><a href="/global//${global.id}">Id</a></td>
                <td th:text="${global.name}">Name</td>
                <td th:text="${#strings.arrayJoin(global.event, ',')}">Event</td>
                <td><a th:href="${'/global/' + global.id }" th:text="#{view}">View  </a>
                    <a th:href="${'/global/edit/' + global.id}" th:text="#{edit}">Edit  </a>
                    <a th:href="@{'/globals/' + ${global.id} + '/' + ${global.name}}" th:text="#{delete}">Delete  </a></td>
            </tr>
        </table>
    </div>
    <!--<form class="form-horizontal" >-->
    <div class="table-responsive" >
        <!--<label >Rows</label>-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th th:text="#{name}">Name</th>
                <th th:text="#{value}">Value</th>
                <th th:text="#{event}">Event</th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <form th:object="${global}" th:action="@{/global}" method="post">
                    <input type="hidden" th:field="*{id}"/>

                    <td>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{value}"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{event}"/>
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                </td>
                </form>

            </tr>
            </tbody>
        </table>
    </div>

</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>