<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Global Secret Manager</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(global)}">
        <h2>Global List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Event</th>
            </tr>
            <tr th:each="global : ${global}">
                <td th:text="${global.id}">Id</td>
                <td th:text="${global.name}">Name</td>
                <td th:text="${global.event}">Event</td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>