<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head lang="en">

    <title>Global Secret Manager</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2 style="text-align: center" th:text="#{welcome.message}"></h2>
    <label>Введите ваш токен</label>
    <!--<form th:object="${token}" th:action="@{/}" method="post">-->
        <!--<input type="text" class="form-control" th:field="${token}"/>-->
        <!--<button type="submit" class="btn btn-raised btn-primary">Submit</button>-->
    <!--</form>-->

</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>