<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head lang="en">
    <title>Log in</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>

