<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Global Secret Manager</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div class="table-responsive" th:if="${not #lists.isEmpty(secrets)}">
        <h2 th:text="${repos}">Secret List</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Event</th>
                <th>Delete</th>
                <!--<th>Edit</th>-->
            </tr>
            <tr th:each="secret : ${secrets}">
                <td th:text="${secret.id}">Id</td>
                <td th:text="${secret.name}">Name</td>
                <td th:text="${#strings.arrayJoin(secret.event, ', ')}">Event</td>
                <td><a th:href="@{${repos}+'/'+${secret.name}}">Delete</a></td>
                <!--<td><a th:href="${'/global/edit/' + secret.id}">Edit</a></td>-->
            </tr>
        </table>
    </div>
    <div class="table-responsive" >
        <!--<label >Rows</label>-->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th >Name</th>
                <th >Value</th>
                <th >Event</th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <form th:object="${secret}" th:action="@{/secret}" method="post">
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{value}"/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{event}"/>
                        </div>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: foot"></th:block> /*/-->

</body>
</html>